.login-signup-outer-container {
  box-shadow: 5px 5px 5px 0 var(--AUTH-BOX-SHADOW-CLR);
}

.login-box-container {
  background: var(--SECONDARY-BACKGROUND-CLR);
  color: var(--SECONDARY-FONT-CLR);
}

.login-box-container .section {
  padding: 3rem;
}

.login-box-container .btn,
.login-box-container .input {
  width: 100%;
}

.login-utilities-container .btn:nth-child(1) {
  text-align: start;
}

.btn.--with-facebook {
  background: var(--FACEBOOK-CLR);
}

.btn.--with-google {
  background: var(--GOOGLE-CLR);
  color: #000;
}

.btn.--with-apple {
  background: var(--APPLE-CLR);
}

.signup-link {
  margin: auto;
}

.show-password-btn {
  cursor: pointer;
  font-size: 0.8rem;
  padding-inline-end: 10px;
}
