.product-card {
  background: var(--SECONDARY-BACKGROUND-CLR);
  color: var(--SECONDARY-FONT-CLR);
  cursor: default;
  min-width: var(--PRODUCT-CARD-MIN-WIDTH);
  max-width: var(--PRODUCT-CARD-MAX-WIDTH);
}

.card-text-container {
  gap: 8px;
}

.product-current-price {
  margin-inline-end: 5px;
}

.card-button-container > .btn {
  flex-basis: 100%;
}

.card__mrp {
  text-decoration: line-through;
}

.product-card .card-thumbnail-container img {
  display: block;
  height: 10rem;
}

.card-thumbnail-container {
  position: relative;
}

.thumbnail-overlay {
  align-items: self-end;
  height: 100%;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

.product-card.--out-of-stock {
  position: relative;
}

.product-card.--out-of-stock::after {
  background: var(--CARD-OVERLAY-CLR);
  content: "Out of stock";
  display: grid;
  font-size: 1.8rem;
  font-weight: 600;
  place-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-transform: uppercase;
  z-index: 1;
}

.product-title {
  overflow: clip;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-discount-percent {
  color: var(--GREEN-CLR);
}

.card-rating-share-btn-container {
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.product-rating {
  background: var(--ICON-BTN-BACKGROUND-CLR);
  border-radius: var(--BORDER-RADIUS);
  font-size: 15px;
  padding: 0 10px;
}

.suggestions-card {
  background: var(--SUGGESTION-CARD-BACKGROUND-CLR);
  color: var(--SECONDARY-FONT-CLR);
  flex-grow: 1;
  height: var(--SUGGESTION-CARD-HEIGHT);
  max-width: var(--SUGGESTION-CARD-MAX-WIDTH);
  width: min(100%, var(--SUGGESTION-CARD-MIN-WIDTH));
}

.suggestions-card .card-text-container {
  flex-grow: 1;
  padding: var(--SUGGESTION-CARD-Y-PADDING) var(--SUGGESTION-CARD-X-PADDING);
}

.suggestions-card .sub-heading {
  padding-bottom: 1rem;
  border-bottom: 1px solid;
}

.suggestions-card .card-thumbnail-container {
  flex-basis: 30%;
}

.card-text {
  padding: 1rem 0;
}

.card-thumbnail-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.deal-of-the-day-card {
  aspect-ratio: 1;
  overflow: hidden;
  position: relative;
}

.deal-of-the-day-card img {
  object-fit: cover;
  width: 100%;
}

.deal-of-the-day-card::after {
  background: #000000a1;
  position: absolute;
}

.discount-overlay {
  color: var(--SECONDARY-FONT-CLR);
  font-size: 4rem;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.product-card.--cart-card {
  max-width: unset;
  min-width: var(--CART-PRODUCT-CARD-MIN-WIDTH);
  height: var(--CART-PRODUCT-CARD-HEIGHT);
  position: relative;
}

.product-card.--cart-card .card-thumbnail-container {
  flex-basis: 30%;
}

.product-card.--cart-card .card-thumbnail-container img {
  height: 100%;
}

.card-text-container {
  flex-grow: 1;
}

.product-card.--cart-card .card-button-container {
  margin-top: auto;
}

.btn.delete-from-cart-btn {
  position: absolute;
  right: 1rem;
  background: transparent;
  padding: 0;
  top: 1rem;
  width: 1.5rem;
}

.btn.delete-from-cart-btn:hover {
  background: var(--ACCENT-CLR);
}
